
<html>
  <head>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <form method="POST" action="/new">
      <h1>Send message to board</h1>
      <div class="form-field">
        <label for="name">Name</label>
        <input type="text" id="name" name="name"/>
      </div>
      <div class="form-field">
        <label for="message">Message</label>
        <textarea type="text" id="message" name="message"></textarea>
      </div>
    
      <button type="submit"> Submit </button>
      <a href="/" class="cancel-btn">Cancel</a>
    </form>
  </body>
</html>